
<script src="{{ STATIC_URL }}bower_components/d3/d3.js"></script>
<script src="{{ STATIC_URL }}bower_components/nvd3/build/nv.d3.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-nvd3/dist/angular-nvd3.js"></script>

<!--bootstrap/jquery-->
<script src="{{ STATIC_URL }}bower_components/angular-cookies/angular-cookies.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script> 

<!-- libs -->
<script src="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>

<!-- main angular shim -->
<script src="{{ STATIC_URL }}js/app.js"></script>

<!--Material bootstrap-->
<script src="{{ STATIC_URL }}bower_components/arrive/src/arrive.js"></script>
<script src="{{ STATIC_URL }}bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script src="/static/bower_components/angularjs-ordinal-filter/ordinal-browser.js"></script>
<script src="{{ STATIC_URL }}bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="{{ STATIC_URL }}js/signup-controller.js"></script>
<script src="{{ STATIC_URL }}js/ad_revenues/dashboard-controller.js"></script>
<script src="{{ STATIC_URL }}js/ad_revenues/BreakdownPickerService.js"></script>
<script src="{{ STATIC_URL }}js/ad_revenues/arpu-controller.js"></script>
<script src="{{ STATIC_URL }}js/DatePickerService.js"></script>
<script src="{{ STATIC_URL }}js/util.js"></script>
<script src="{{ STATIC_URL }}js/directives.js"></script>
<script src="{{ STATIC_URL }}bower_components/moment/moment.js"></script>
<script src="{{ STATIC_URL }}bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>


<!-- Mainly scripts -->
<script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="{{ STATIC_URL }}js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

{% include "partials/mixpanel-partial.html" %}
{% include "partials/google-analytics.html" %}
