{% extends "dashboard/dashboard-base.html" %}

{% block title %}
    Platform Apps | Mobbo dashboard
{% endblock %}

{% block head %}
    Platform Apps | Mobbo dashboard
{% endblock %}

{% block content %}

<div id="wrapper">

        <div class="top_header">
        {% include "partials/top-header.html" %}
        </div>
        
            {% include "partials/account-navigation.html" %}
        
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <a href="/dashboard"> connections</a> >> {{platform.platform}}
                <div> 
                    {% include "ad_revenues/platform_data.html" %}
                </div>
                
                <div>
                    {% include "ad_revenues/platform_apps.html" %}
                </div>
            
            </div>
</div>

{% endblock %}