<div jsname="KrwUDc">
    <img jsname="TqVmm" class="JC07Dd" src="//ssl.gstatic.com/accounts/marc/authenticator.png" alt="">
    <div class="EGmPD" jsname="BCqkPb">Enter a verification code</div>
    <div class="VnJmLc" jsname="NhJ5Dd">Get a verification code from the "Google Authenticator" app</div>
    <div class="gIH97b">
        <input type="tel" pattern="[0-9 ]*" id="totpPin" name="Pin" dir="ltr" autocomplete="off" placeholder="Enter the 6-digit code" autofocus="" class="Xxfqnf">
    </div>
    {{errorMsg}}
    <input type="submit" class="MK9CEd MVpUfe" value="Done" id="submit">
    <div class="ARshqb">
        <input type="checkbox" name="TrustDevice" id="trustDevice" class="aCOJmf" checked="" disabled="disabled">
        <span>Don't ask again on this computer</span>
        <div class="Bfmfyc" role="tooltip">
            <div class="x7qQqf"></div>
            <div class="hzC8Lb">For your convenience, keep this checked. On shared devices, additional precautions are recommended. <a href="https://support.google.com/accounts/?p=securesignin&amp;hl=en" target="_blank">Learn more</a></div>
        </div>
    </div>
</div>