<div jsname="KrwUDc">
    <img jsname="TqVmm" class="JC07Dd" src="//ssl.gstatic.com/accounts/marc/idv_sms.png" alt="">
    <div class="EGmPD" jsname="BCqkPb">Enter a verification code</div>
    <div class="VnJmLc" jsname="NhJ5Dd">A text message with a verification code was just sent to <b dir="ltr" class="DZNRQe">{{phoneString}}</b></div>
    <div class="gIH97b"><div class="LNdFWe" dir="ltr">G-</div>
        <input type="tel" pattern="[0-9 ]*" id="idvPreregisteredPhonePin" name="Pin" dir="ltr" autocomplete="off" placeholder="Enter the 6-digit code" autofocus="" class="Xxfqnf Mj2P6d">
    </div>
    {{errorMsg}}
    <input type="submit" class="MK9CEd MVpUfe" value="Done" id="submit">
    <div class="ARshqb">
        <input type="checkbox" name="TrustDevice" id="trustDevice" class="aCOJmf" checked="" disabled="disabled">
        <span>Don't ask again on this computer</span>
        <div class="Bfmfyc" role="tooltip">
            <div class="x7qQqf"></div>
            <div class="hzC8Lb">For your convenience, keep this checked. On shared devices, additional precautions are recommended. <a href="https://support.google.com/accounts/?p=securesignin&amp;hl=en" target="_blank">Learn more</a></div>
        </div>
    </div>
</div>