<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    {% include "partials/main-header.html" %}
  </head>

  <body class="pace-done app-details"  ng-app='theta'>
    {% block content %} {% endblock %}
    
  	{% block body_js %}
		{% block js_content %} {% endblock %}  
		{% include "partials/main-js-includes.html" %}
		<script src="  {{ STATIC_URL }}js/angular-rickshaw.js"></script>
		<script src="/static/js/AccountController.js"></script>
	{% endblock %}
  </body>

</html>
